@use '../base/mixins' as *;

.header {
	padding: 12px 0;
	background-color: var(--page-bg);
	border-bottom: 1px solid var(--gray-light);

	&__row {
		display: flex;
		align-items: center;
		column-gap: 48px;
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 24px;
		margin-left: auto;
		font-family: var(--font-family);
	}
}

.actions__login {
	display: flex;
	align-items: center;
	column-gap: 6px;
	color: var(--gray-second-text);
	font-weight: 700;
}

.actions__cart span {
	display: flex;
	align-items: center;
	column-gap: 6px;
	color: var(--gray-second-text);
	font-weight: 700;
}

.logo {
	font-family: var(--second-family);
	font-size: 24px;
	font-weight: 700;
	z-index: 1;

	span {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background-color: var(--brand-yellow-dark);
			width: 80px;
			height: 13px;
			z-index: -1;
			bottom: 0;
		}
	}
}

.header__nav {
	margin-left: auto;

	@include tablet {
		display: none;
	}
}