.location-section {
  padding: 80px 0px;
  background: var(--gray-bg);
  // .location-section__inner

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  // .location-section__content

  &__content {}

  // .location-section__title

  &__title {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 36px;
    line-height: 178%;
    letter-spacing: 0.08em;
    color: var(--gray-dark);
  }

  // .location-section__desc

  &__desc {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--gray-dark);
  }

  // .location-section__form

  &__form {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
}

.container {}

.address-form {

  // .address-form__input-wrapper

  &__input-wrapper {}

  &__address-form__icon {}

  // .address-form__input

  &__input {
    background-color: #fff;
    background: url(../../img/location/location.svg);
    background-position: 20px center;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 336px;
    height: 72px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    font-family: var(--font-family);
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--gray-second-text);
    padding: 0px 0px 0px 48px;
  }

  // .address-form__btn

  &__btn {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-yellow-dark);
    border-radius: 4px;
    padding: 28px 24px;
    width: 88px;
    height: 72px;
    background: var(--brand-yellow-bright);
  }
}