.container {}

.restaurants-section {}

.restaurant__section-header {
  display: flex;
  justify-content: space-between;
}

.section-title {}

.show-all-btn {}

.splide {

  // .splide__track

  &__track {}

  // .splide__list

  &__list {}

  // .splide__slide

  &__slide {}
}

.card {}

.card-image {
  width: 100%;
}

.card-logo-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.card-logo {}